@charset "UTF-8";
/* CSS Document */
body {background:url("../images/privacy_bg.jpg") no-repeat center; background-attachment: fixed; background-size: cover;}
.her1  {width: 100%; height:auto; position: relative; margin-bottom: 5%;}
.her1 .tilt　{ font-size: 6em;}

.part1 {width: 100%; margin: 0 auto; padding-bottom: 100px;}
.part1 .bt1 {width: 80%; }
.part1 p {width: 80%; margin: 0 auto;}
.part1 ul {width: 50%; margin: 250px auto 0; position: relative;}
.part1 ul li {margin: 30px auto 0px; padding-bottom: 50px; text-align: center; color: #595959; background: url("../images/privacy_part1_img4.jpg") no-repeat center bottom;}
.part1 ul li h6 {font-size: 1.25em; color: #000; margin: 10px auto;}
.part1 ul .li1 {width:96px; height: 87px; background:url("../images/privacy_part1_img2.png") no-repeat; position: absolute; top: -20%; left: -25%;}
.part1 ul .li2 {width:96px; height: 87px; background:url("../images/privacy_part1_img3.png") no-repeat; position: absolute; bottom: -50%; right: -25%;}
.part1 .p1 {width:50%; margin-top: 50px; text-align: right; padding-bottom: 200px;}

@media screen and (max-width:768px){
p {font-size: 1em;}
.part1 {width: 100%; margin: 70px auto 0;}
.part1 ul {width: 60%; margin: 100px auto 0; position: relative;}
.part1 ul li {margin: 30px auto 0px; padding-bottom: 50px; text-align: center; font-size: 0.75rem; color: #595959; background: url("../images/privacy_part1_img4.jpg") no-repeat center bottom;}
.part1 ul li h6 {font-size: 1.3rem; color: #000; margin: 10px auto;}
.part1 ul .li1 {width:44px; height: 42px; background:url("../images/privacy_part1_img2.png") no-repeat; background-size: contain; position: absolute; top: -10%; left: -15%;}
.part1 ul .li2 {width:44px; height: 42px; background:url("../images/privacy_part1_img3.png") no-repeat; background-size: contain; bottom: -30%; right: -10%;}

.part1 .p1 {width:70%; margin-top: 50px; text-align: right; padding-bottom: 100px;}
}